<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="tests/autoload.php"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  stopOnFailure="false"
  syntaxCheck="false">
  <testsuites>
    <testsuite name="Hello Test Suite">
      <directory suffix=".php">./tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
